@model Compbuild.Models.Names

@{
    ViewData["Title"]="Edit name";
}
<h1>Add new name</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="Delete">
    <input asp-for="ID" hidden />
    <input asp-for="NAME" class="form-control" disabled/>
    <input type="submit" class="btn btn-danger" value="DELETE" />

    <div>
        <span asp-validation-for="NAME" class="text-danger"></span>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}