@model Compbuild.Models.Names

@{
    ViewData["Title"]="Edit name";
}
<h1>Edit name</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="Edit">
    <input asp-for="ID" hidden />
    <input asp-for="NAME" class="form-control" />
    <input type="submit" class="btn btn-primary" value="Submit" />

    <div>
        <span asp-validation-for="NAME" class="text-danger"></span>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}