@{
    ViewData["Title"] = "Home Page";
}
<h1>This is an exciting page in my existing application</h1>
<a asp-controller="Computers" asp-action="Index">MVC Route to Computers</a>

<div id="root">
 
<script src="~/js/index.js"></script>
</div>

